.eventswrapper{
    text-align:center;
    margin:var(--global-module-pad) 0;
}
.events {
    margin:0 auto;
    width:85vw;
}
.events li{
    transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    width:calc(25% - var(--card-margin) * 2);
    cursor: pointer;
    overflow: hidden;
}
.events li:hover{
    transform:scale(1.05);
    box-shadow: 0px 1px 3px 1px var(--card-shadow);
}
.events a{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:100%;
}
.events a:hover{
    color:inherit;
}
.image img{
    max-width: 100%;
    width:100%;
}
.hover{
    transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity:0;
    color:var(--color-hilite);
    text-transform:uppercase;
    margin:var(--card-padding);
    font-weight:600;
    width:calc(100% - var(--card-padding) * 2);
    text-align: left;
}
.events li:hover .hover{
    opacity:1;
}
.avatar{
    max-width: calc(20% - var(--card-padding));
    float: right;
    margin: var(--card-padding) var(--card-padding) var(--card-padding) 0;
    border-radius: 5px;
}

.content{
    flex-grow:2;
}
.content p{
padding: var(--card-padding);
    text-align: left;    margin:0;
    width: calc(80% - var(--card-padding) * 2);
    font-size:var(--font-size-0);
    float: left;

}
.content p strong{
    display:block;
    margin-bottom:10px;
    font-size:var(--font-size-1);
}
.icon:last-child{
    margin-left:8px;
}


@media screen and (max-width: 900px) { /*basically mobile*/
    .events li{
        width:calc(50% - var(--card-margin) * 2);
    }
}
@media screen and (max-width: 500px) { /*basically mobile*/
    .events li{
        width:calc(100% - var(--card-margin) * 2);
    }
}