.herowrapper{
    height:75vh;
    display:flex;
    flex-wrap:wrap;
    position:relative;
}
.heroimage, .herocontent{
    width:100%;
    text-align:center;
}

.heroimage{
    position:absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.herocontent{
    align-self:center;
}

.herocontent h1{
    font-size:var(--hero-font-size);
    line-height:var(--hero-line-height);
    color:var(--color-white);
    width:60%;
    margin:0 auto 5vh;
}
.herocontent button{
    padding-right:var(--global-module-pad);
    padding-left:var(--global-module-pad);
    font-size: var(--font-size-0);
    font-weight: 600;
}

@media screen and (max-width: 900px) { /*basically mobile*/
    .herowrapper{
        height:55vh;
    }

}
@media screen and (max-width: 500px) { /*basically mobile*/

    .herocontent h1{
        width:80%;
    }
}
